thumbnail:
  listen: 0.0.0.0:22123
  hash: fnv1a_64
  distribution: ketama
  redis: true
  server_retry_timeout: 30000
  server_failure_limit: 3
  servers:
  - {{hostvars[groups['redis_master'][0]].ansible_eth0.ipv4.address}}:6379:1 mymaster
