#!/bin/bash
### BEGIN INIT INFO
# Provides:		twemproxy
# Required-Start:	$syslog $remote_rs
# Required-Stop:	$syslog $remote_rs
# Should-start:		$local_fs
# Should-stop:		$local_fs
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6	
# Short-Description:	twemproxy - a redis proxy
# Description:		twemproxy - a redis proxy
### END INIT INFO
# Authored by Bean He
# Version 2.0
#####################

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:{{ exec_dir }}
DAEMON={{ exec_dir }}/{{ proxy_name }}
NAME=nutcracker
DESC=twemproxy

RUNDIR=/var/run/twemproxy
PIDFILE=$RUNDIR/nutcracker.pid
LOGDIR=/var/log/twemproxy
LOGFILE=$LOGDIR/nutcracker.log
DAEMON_ARGS="-o $LOGFILE -c {{ deploy_base }}/{{ proxy_name }}/{{ proxy_name }}.yml -p $PIDFILE"

test -x $DAEMON || exit 0

set -e

case "$1" in
	start)
	echo -n "Starting $DESC: "
	mkdir -p $RUNDIR
	touch $PIDFILE $LOGFILE
	chown redis:redis $RUNDIR $PIDFILE $LOGDIR $LOGFILE
	chmod 755 $RUNDIR
	if start-stop-daemon --start --quiet --umask 007  --exec $DAEMON -- $DAEMON_ARGS &
	then
		echo "$NAME."
	else
		echo "failed"
	fi
	;;
	stop)
	echo -n "Stopping $DESC: "
	if start-stop-daemon --stop --quiet --oknodo --pidfile $PIDFILE --exec $DAEMON
	then
		echo "$NAME."
	else
		echo "failed"
	fi
	rm -f $PIDFILE
	;;
	restart|force-reload)
	${0} stop
	${0} start
	;;
	status)
	echo -n "$DESC is "
	if start-stop-daemon --stop --quiet --signal 0 --name $NAME --pidfile $PIDFILE
	then
		echo "running"
	else
		echo "not running"
		exit 1
	fi
	;;
	*)
	echo "Usage: /etc/init.d/$DESC {start|stop|restart|force-reload}" >&2
	exit 1
	;;
esac

exit 0
